<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.ImpressionMapper">



    <select id="selectImpressionByUserId" resultType="UserImpression" parameterType="String">
        select * from chatonline.userimpression
        where toUserId=#{toUserId}
    </select>

    <insert id="addImpression" parameterType="UserImpression">
      insert into chatonline.userimpression (toUserId,fromUserId,msg)
      value (#{toUserId},#{fromUserId},#{msg})
    </insert>
    <delete id="deleteImpression" parameterType="String">
        delete from chatonline.userimpression
        where fromUserId=#{fromUserId}
    </delete>

</mapper>