<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.ImpressionMapper">


    <select id="selectImpressionByName" resultType="UserImpression">
        select * from onlinechat.userimpression
        where toUserName=#{toUserName}
    </select>

    <insert id="addImpression" parameterType="UserImpression">
        insert into onlinechat.userimpression (toUserName,fromUserName,msg)
            values (#{toUserName},#{fromUserName},#{msg})
    </insert>
    <delete id="deleteImpression" parameterType="String">
        delete from onlinechat.userimpression
        where fromUserName=#{fromUserName}
    </delete>
    <select id="queryImpressionByName" resultType="UserImpression">
        select * from onlinechat.userimpression
        where fromUserName = #{fromUserName} and toUserName = #{toUserName}
    </select>

</mapper>