<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.ImpressionMapper">



    <select id="selectImpressionByUserName" resultType="UserImpression" parameterType="String">
        select * from chatonline.userimpression
        where toUserName=#{toUserName}
    </select>

    <insert id="addImpression" parameterType="UserImpression">
        insert into chatonline.userimpression (toUserName,fromUserName,msg)
            value (#{toUserName},#{fromUserName},#{msg})
    </insert>
    <delete id="deleteImpression" parameterType="String">
        delete from chatonline.userimpression
        where fromUserName=#{fromUserName}
    </delete>

</mapper>