<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.UserFriendMapper">
    <insert id="addFriend" parameterType="UserFriend">
        insert into onlinechat.userfriend (userName,friendName,friendId)
        values (#{userName},#{friendName},#{friendId})
    </insert>

    <delete id="deleteFriend" parameterType="String">
        delete from onlinechat.userfriend
        where userName = #{userName}  and friendName=#{friendName}
    </delete>

    <select id="queryFriendById" resultType="UserFriend">
        select * from onlinechat.userfriend
        where friendId = #{friendId}
    </select>

    <select id="queryAllFriend" resultType="UserFriend" parameterType="String">
        select * from onlinechat.userfriend where userName=#{userName}
    </select>

    <select id="queryFriendByName" resultType="UserFriend">
        select * from onlinechat.userfriend
        where friendName = #{friendName}
    </select>

</mapper>