<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzq.dao.AddMsgMapper">


    <!--查询消息-->
    <select id="selectMsgByUserName" resultType="AddMsg" parameterType="String">
        select * from onlinechat.useraddmsg
        where toUserName=#{toUserName}
    </select>
    <!--消息数量-->
    <select id="getMsgNum" parameterType="int">
        select count(*) from onlinechat.useraddmsg
        where toUserName = #{toUserName}
    </select>

    <insert id="addMsg" parameterType="AddMsg">
        insert into onlinechat.useraddmsg (toUserName,fromUserName,msg)
            value (#{toUserName},#{fromUserName},#{msg})
    </insert>

    <delete id="deleteMsg" parameterType="String">
        delete from onlinechat.useraddmsg
        where fromUserName=#{fromUserName}
    </delete>


</mapper>